{% extends "blog/base.html" %} 

{% block title %} The Espresso Blog {% endblock %}

{% block content %}

  <h1><span class="anton-regular" style="color: #ab460c;">The Espresso Blog</span></h1>
 
  {% if tag %}
    <h2> 
      Posts tagged with <span class="tag">"{{ tag.name }}"</span> 
      <a href="{% url 'blog:post_list' %}">
       <span class="closer">Remove filter</span>
      </a> 
    </h2>
  {% endif %}

  {% for post in posts %}
   <div class="card">
     <h2>
        <a href="{{ post.get_absolute_url }}"> <span class="domine-regular">{{ post.title }}</span> </a>
     </h2>  

     {% include "blog/post/includes/tags.html" %}

     <p class="date">Published {{ post.publish }} by {{ post.author }}</p>

     <span class="newsreader-regular"> {{ post.body|truncatewords:30|linebreaks }} </span>
   </div>
  {% endfor %} 

  {% include "pagination.html" with page=posts %}

{% endblock %}
