{% extends "blog/base.html" %}
{% block title %}The Espresso Blog | Share a post{% endblock %}
{% block content %}
  {% if sent %}
    <h1 class="anta-regular">E-mail successfully sent</h1>
    <p>
      "{{ post.title }}" was successfully sent to <b>{{ form.cleaned_data.to }}</b>.
    </p>
    <p>
      <a href="{{ post.get_absolute_url }}"> 
         Back to Post
      </a>
    </p>
  {% else %}
    <h1 class="group-links">
        <span class="anta-regular">Share "{{ post.title }}" by E-mail</span>
        <span id="sidebar-icon" class="close"> <i class="fa-solid fa-bars"></i> </span>
    </h1>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" value="Send e-mail">
    </form>
  {% endif %}
{% endblock %}
