{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Anton');
        @import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
    </style>
</head>

<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>Explore Our Content</h2>
        <p>
            Total posts so far: {% total_posts %}
        </p>

        <h3>Latest posts</h3>
        {% show_latest_posts %}
    </div>
</body>

</html>