body { 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif; 
    background-color:white;
    /*#e8e6e6*/
}

a { 
    color:#00abff;
    text-decoration:none; 
}

a:hover{
    color: #008ac1;
}

h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

#content { 
    float:left;
    width:60%;
    padding:0 0 0 30px; 
}

#sidebar { 
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    height: 100vh;
    padding: 10px;
    background: #efefef;
    overflow-y: auto;
}
  
p.date { 
    color:#242323;
    font-family: georgia, serif;
    font-size: 12px !important;
    font-style: italic; 
}

.left {
    float:left;
    margin-right:10px;
}


/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px !important;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px !important;
    text-transform:uppercase; 
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px !important;
    color:#666;
}

/* tags */

.tag{
    font-style: italic;
    transition: text-shadow 0.3s ease;
}

.closer{
    color: red;
    font-size: 0.5em !important;
    text-decoration: underline;
}

/* Google fonts */
.anton-regular {
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
  }

.anton-pagination {
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
  }


.domine-regular {
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

.newsreader-regular {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em !important;
  }
  
  .card {
    padding: 1px 10px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    margin-top: 3px;
  }
  
  .card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
  }

/* Search bar */

.search-bar {
    font-size: 0.9em !important;
    border: 2px solid #00abff; 
    background-color: #f1f1f1; 
    padding: 8px 12px; 
    border-radius: 4px; 
    width: 100%;  
    box-sizing: border-box; 
    margin-bottom: 16px;
}

.search-bar:focus {
    background-color: #ffffff; /* White background when focused */
    outline: none; /* Remove default focus outline */
}

/* Share post icons */

.share-post > a {
    margin-left: 5px;
}

/* Sidebar list */
.sidebar-listitem {
    font-size: 1.1em !important;
    margin-bottom: 5px;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Black background with opacity */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    margin: auto;
    margin-top: 10%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #00abff;
    text-decoration: none;
    cursor: pointer;
}

.group-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#openModalBtn {
    background-color: rgba(0, 171, 255, 0.2);
    color: #00abff;
    padding: 5px 10px;
    border-color: rgba(0, 171, 255, 0.8);
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
}

#openModalBtn:focus,
#openModalBtn:hover {
    background-color: rgba(0, 171, 255, 0.4);
}

.spinner {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}


  